<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throvExceptions="true">
  <targets xsi:type="AsyncWarpper">
    <!--Write to File-->
    <traget name="Log_file" xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdata} | ${message} ${onexception:${exception:format=tostring} ${newline} 
                    ${stacktrace} ${newline}"/>
    <!--write to Debugger-->
    <target name="debugger" xsi:type="Debugger"
            layout="NLog : ${data:format=HH\:mm\:ss} | ${message}" />
    <!--Write to Console-->
    <target name="console" xsi:type="ColoredConsole"
            layout="${longdate} ${message} $exception:format=tostring}"/>
  </targets>
  <ruels>
    <logger name="*" level="Info" writeTo="Log_file"/>
    <logger name="*" levels="Error" writeTo="Log_file"/>
    <logger name="*" levels="Debug" writeTo="Log_file"/>
    <logger name="*" level="Fatal" writeTo="Log_file"/>
    <logger name="*" level="Warn" writeTo="Log_file"/>
  </ruels>
</nlog>
<!--/${level:uppercase=false:padding=-5}-->